<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h1>Contact</h1>
        <p>My email: <b>vukmirovmiroslav@gmail.com</b></p>
        <p>Feel free to connect with me on any of the platforms:</p>
    </div> 
    
    <div class="list-group shadow">
        <a href="https://www.linkedin.com/" target="_blank" class="list-group-item list-group-item-action d-flex gap-4 py-5">
            <img src="../../assets/linkedin-4.png" width="96" height="96" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">LinkedIn</h3>
        </a>
        <a href="https://github.com/" target="_blank" class="list-group-item list-group-item-action d-flex gap-4 py-5">
            <img src="../../assets/github-icon-2.svg" width="96" height="96" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">GitHub</h3>
        </a>
    </div>
</div>
